<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <style>
      img {
          max-width: 100%;
          display: block;
          margin: 0;
          max-height: 75vh;
          border-radius: 4px;
      }
  }
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      <main>{{ content }}</main>
      <footer>{% include footer.html %}</footer>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
  </body>
</html>
